apiVersion: v1
kind: Secret
metadata:
  name: tracedata-db-secret
  namespace: tracedata
  labels:
    app: tracedata-db
    tier: database
    environment: prod
type: Opaque
stringData:
  POSTGRES_USER: tracedatauser
  POSTGRES_PASSWORD: CHANGE_ME_BEFORE_DEPLOY
